template(name='profile')
	div.container-fluid.profile-div.text-center
		span.sign-lbl.animate.fadeInDown PROFILE
		hr.sign-hr
	div.container-fluid.text-center.profile-nav
			ul.nav.nav-tabs.nav-justified.sub-title.grey-background.text-center
				li
					a(href='#profile-pane' data-toggle='tab')#account-tab ACCOUNT
				li
					a(href='#orders-pane' data-toggle='tab')#orders-tab ORDERS

	div.tab-content.text-center
		div.tab-pane.fade#profile-pane
			div.container-fluid
				div.panel.panel-material-light-blue-300.set-price
					div.panel-heading
						h3.panel-title Account Info
					div.panel-body
						div.container-fluid.text-center

						form
							div.input-field.col.s12
								input(type="text").validate#name
								label(for="name") Name
							div.input-field.col.s12
								input(type="text").validate#street
								label(for="street") Street
							div.input-field.col.s12
								input(type="text").validate#city
								label(for="city") City
							div.input-field.col.s12
								input(type="text").validate#state
								label(for="state") State
							div.input-field.col.s12
								input(type="text").validate#zip
								label(for="Zip") Zip
							div.input-field.col.s12
								input(type="text").validate#phone
								label(for="phone") Phone
							div.input-field.col.s12
								input(type="text").validate#email
								label(for="email") Email

						a.btn.btn-info#save-info SAVE
						
		div.tab-pane.fade#orders-pane
			div.container-fluid
				div.panel.panel-material-light-blue-400.set-price
					div.panel-heading
						p.panel-title
							span.pull-left #{ownerName}
							span.pull-right Orders: #{ownerOrdersCount}
					div.panel-body
						each ownerOrders
							ul.collection
								li.collection-item #{serviceType}
								li.collection-item Date: #{date}
								li.collection-item Time:  #{time}
								li.collection-item Total: $ #{total}
								li.collection-item Payment Type: #{paymentType}
								li.collection-item Status: #{status}

		a.btn.btn-success#install-app Install App
		a.btn.btn-primary.btn-material-grey-900#logout log out
									
		div.modal.animated.fadeInUp.waves-effect#install-app-modal
			div.modal-content
				p.modal-title.flow-text.text-center 
					span.fa.fa-info-circle.pull-left
					span How to install on 
					span.fa.fa-android
				
				p.modal-price.flow-text.text-center
					
				
				ul.collection
					li.collection-item
						span.pull-left.coll-num 1 &nbsp;&nbsp; 
						span.pull-left Open Google Chrome &nbsp;&nbsp;
						span.pull-left.fa.fa-chrome
					li.collection-item#coll-two
						span.pull-left.coll-num 2 &nbsp;&nbsp;  
						span.pull-left Tap this button &nbsp;&nbsp; 
						span.pull-left#more-vert
							i.material-icons more_vert
						span.pull-left &nbsp;&nbsp; top right.
					li.collection-item#coll-three
						span.pull-left.coll-num 3 &nbsp;&nbsp; 
						span.pull-left Then tap on 'Add to Home screen'.
					li.collection-item#coll-four
						span.pull-left.coll-num 4 &nbsp;&nbsp;
						span.pull-left tap &nbsp;&nbsp;
						span.pull-left#strong
							strong ADD
						span.pull-left .


				a.btn.btn-success#got-it Got it!
