template(name='profile')
	div.container-fluid.profile-div.text-center
		span.sign-lbl.animate.fadeInDown PROFILE
		hr.sign-hr
	div.container-fluid.text-center.profile-nav
			ul.nav.nav-tabs.nav-justified.sub-title.grey-background.text-center
				li
					a(href='#profile-pane' data-toggle='tab')#account-tab ACCOUNT
				li
					a(href='#orders-pane' data-toggle='tab')#orders-tab ORDERS

	div.tab-content.text-center
		div.tab-pane.fade#profile-pane
			div.container-fluid
				div.panel.panel-material-light-blue-300.set-price
					div.panel-heading
						h3.panel-title Account Info
					div.panel-body
						div.container-fluid.text-center

						form
							div.input-field.col.s12
								input(type="text").validate#name
								label(for="name") Name
							div.input-field.col.s12
								input(type="text").validate#street
								label(for="street") Street
							div.input-field.col.s12
								input(type="text").validate#city
								label(for="city") City
							div.input-field.col.s12
								input(type="text").validate#state
								label(for="state") State
							div.input-field.col.s12
								input(type="text").validate#zip
								label(for="Zip") Zip
							div.input-field.col.s12
								input(type="text").validate#phone
								label(for="phone") Phone
							div.input-field.col.s12
								input(type="text").validate#email
								label(for="email") Email

						a.btn.btn-info#save-info SAVE
						
		div.tab-pane.fade#orders-pane
			div.container-fluid
				div.panel.panel-material-light-blue-400.set-price
					div.panel-heading
						p.panel-title
							span.pull-left #{ownerName}
							span.pull-right Orders: #{ownerOrdersCount}
					div.panel-body
						each ownerOrders
							ul.collection
								li.collection-item #{serviceType}
								li.collection-item Date: #{date}
								li.collection-item Time:  #{time}
								li.collection-item Total: $ #{total}
								li.collection-item Payment Type: #{paymentType}
								li.collection-item Status: #{status}
		a.btn.btn-primary.btn-material-grey-900#logout log out
									