template(name='adminTools')



	div.container-fluid
		h6 Admin Tools
	+if isAdm
		div.container-fluid.text-center
				ul.nav.nav-tabs.nav-justified.sub-title.grey-background.text-center
					li
						a(href='#prof' data-toggle='tab')#prices-li P
					li
						a(href='#new' data-toggle='tab') NO
					li
						a(href='#working' data-toggle='tab') WO
					li
						a(href='#completed' data-toggle='tab') CO
		div.tab-content
			div.tab-pane.fade#prof
				div.container-fluid
					div.panel.panel-material-light-blue-400.set-price
						div.panel-heading.admin-panels
							h3.panel-title#panel-titles Total Users: &nbsp; #{signedUsersCount}
						div.panel-body
							div.list-group
								
								table.bordered
									thead
										tr
											th
												p
													span Name
											th
												p
													span Email
											th
												p
													span Phone
									tbody
										each signedUsers
											tr
												td
													p
														span
															strong #{name}
												td
													p
														span #{email}
												td
													p
														span #{phone}
			
			div.tab-pane.fade#new
				div.container-fluid
					div.panel.panel-material-light-blue-200.set-price
						div.panel-heading.admin-panels
							h3.panel-title#panel-titles New Orders : &nbsp; #{newOrdersCount}
						div.panel-body
							div.list-group
								
								table.bordered
									thead
										tr
											th
												p
													span Name
											th
												p
													span Date
									tbody
										each newOrders
											tr
												td#no-name
													p
														span
															strong #{name}
												td
													p
														span
															strong #{date}
												td
													a.btn.btn-small.btn-material-light-blue-200
														span.fa.fa-check#add-to-working
								

			div.tab-pane.fade#working
				div.container-fluid
					div.panel.panel-material-light-blue-400.set-price
						div.panel-heading.admin-panels
							h3.panel-title#panel-titles Working Orders : &nbsp; #{workingOrdersCount}
						div.panel-body
							div.list-group
								table.bordered
									thead
										tr
											th
												p
													span Name
											th
												p
													span Date
									tbody
										each workingOrders
											tr
												td#wo-name
													p
														span
															strong #{name}
												td
													p
														span
															strong #{date}
												td
													a.btn.btn-small.btn-material-green-600
														span.fa.fa-check-circle#add-to-completed

			div.tab-pane.fade#completed
				div.container-fluid
					div.panel.panel-material-light-blue-400.set-price
						div.panel-heading.admin-panels
							h3.panel-title#panel-titles Completed Orders : &nbsp; #{completedOrdersCount}
						div.panel-body
							div.list-group
								table.bordered
									thead
										tr
											th
												p
													span Name
											th
												p
													span Date
									tbody
										each completedOrders
											tr
												td#co-name
													p
														span
															strong #{name}
												td
													p
														span
															strong #{date}
												td
													a.btn.btn-small.btn-material-red-600
														span.fa.fa-minus-square#remove-completed
								div.text-center
									a.btn.btn-danger#remove-all-orders
										span remove all

	+else
		div.text-center
			span.fa.fa-spin.fa-circle-o-notch.fa-3x
		div.text-center
			span Authenticating...