template(name='residential')
	div.container-fluid
		ul.nav.nav-tabs.nav-justified.title-tab
			li
				a
					i.fa.fa-arrow-circle-left.fa-2x.pull-left#back-to-main
			li
				a.disabled.withoutripple
					h4.title-category.text-center.title-category Residential
			li
				a.withoutripple
					i.fa.fa-arrow-circle-right.fa-2x.pull-right#date-residential
		
	div.container-fluid.text-center
		p Tell us which area needs professional cleaning

	each roomCount
		div.container-fluid.alpha-page-div
			ul.nav.nav-tabs.nav-justified.sub-title.no-background
				li
					p PRICE
				li
					i.fa.fa-dollar#price-estimate &nbsp; #{priceSubtotalResidential}
				li
					p DURATION
				li
					p#duration-residential #{durationResidential} hrs
			br
			ul.nav.nav-tabs.nav-justified#darkest
				li#minus-bedroom
					a
						i.fa.fa-minus
				li
					a.disabled.withoutripple #{bedroom} BEDROOM
				li#plus-bedroom
					a
						i.fa.fa-plus
			br
			ul.nav.nav-tabs.nav-justified#darker
				li#minus-bathroom
					a
						i.fa.fa-minus
				li
					a.disabled.withoutripple #{bathroom} BATHROOM
				li#plus-bathroom
					a
						i.fa.fa-plus
			br
			ul.nav.nav-tabs.nav-justified#dark
				li#minus-livingroom
					a
						i.fa.fa-minus
				li
					a.disabled.withoutripple #{livingroom} LIVINGROOM
				li#plus-livingroom
					a
						i.fa.fa-plus
			br
			ul.nav.nav-tabs#medium
				li.pull-left
					p KITCHEN
				li.pull-right
					div.checkbox
						label
							input(type='checkbox')#kitchen
			br
			ul.nav.nav-tabs#med-light
				li.pull-left
					p BASEMENT
				li.pull-right
					div.checkbox
						label
							input(type='checkbox')#basement
			br
			ul.nav.nav-tabs#light
				li.pull-left
					p GARAGE
				li.pull-right
					div.checkbox
						label
							input(type='checkbox')#garage
			br
			ul.nav.nav-tabs#lighter
				li.pull-left
					p YARD / LAWN
				li.pull-right
					div.checkbox
						label
							input(type='checkbox')#yard
			br




	//div.container-fluid.text-center.input-group.datetimepicker
		span.input-group-addon
		input(type='text').set-due-date.form-control